.from-left-enter-active {
  animation: fromLeft 0.4s ease-out;
}
.from-left-leave-active {
  animation: fromLeft 0.4s ease-out reverse;
}

.change-text-enter-active {
  animation: appearFromTopSmall 0.3s ease-out 0.3s;
}
.change-text-leave-active {
  animation: appearFromBottomSmall 0.3s ease-out reverse;
}

.popup-enter-active {
  animation: popupAnim 0.2s ease-in;
}
.popup-leave-active {
  animation: popupAnim 0.2s ease-in reverse;
}

@keyframes fromLeft {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes appearFromTopSmall {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearFromBottomSmall {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearFromBottom {
  from {
    transform: translateY(150px);
  }

  to {
    transform: translateY(0);
  }
}
@keyframes pulse-bg {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes popupAnim {
  from {
    right: -50vw;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

// Loader
.loader,
.loader:after {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.loader {
  margin: 0 22px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid rgba(255, 255, 255, 0.2);
  border-right: 0.2em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.2em solid rgba(255, 255, 255, 0.2);
  border-left: 0.2em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
