.from-left-enter-active {
  animation: fromLeft 0.4s ease-out;
}
.from-left-leave-active {
  animation: fromLeft 0.4s ease-out reverse;
}

.change-text-enter-active {
  animation: appearFromTopSmall 0.3s ease-out 0.3s;
}
.change-text-leave-active {
  animation: appearFromBottomSmall 0.3s ease-out reverse;
}

.popup-enter-active {
  animation: popupAnim 0.2s ease-in;
}
.popup-leave-active {
  animation: popupAnim 0.2s ease-in reverse;
}

@keyframes fromLeft {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes appearFromTopSmall {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearFromBottomSmall {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearFromBottom {
  from {
    transform: translateY(150px);
  }

  to {
    transform: translateY(0);
  }
}
@keyframes pulse-bg {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes popupAnim {
  from {
    right: -50vw;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
